*, body {
    background-color: rgb(255 255 255);
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;    
}

#logo {
    height: 48px;
    width: auto;        
}

.nav a #logo_name {
    color: hsl(0deg 0% 3.14%);    
    /* text-decoration: none !important; */
    font-size: 1.5rem;
    font-weight: 500;
}

#navtext{
    font-weight: 500 !important;
}

#navtext > button > span{
    background-image: url('src1/toggleB.jpg');
}

.E-border {
    border: 1px solid grey;
    padding: 2px auto;
    border-radius: 5px; 
    text-decoration: none; 
    display: inline-block;
}

.cButton button{
    background-color: rgb(102 75 221) !important;    
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 12px;
}

.cButton > button:hover {            
    background-color:blue; 
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  #mBody * {
    background-color: rgb(242 242 242);
    
}

.cta-section > div{
    background-image: url('src1/IImg.png'); background-size: cover; background-position: center;
}

.cBtn{
    background-color: rgb(102 75 221) !important;
    color: white;
    border-radius: 0.7rem;

}
    
#fHead{
    font-weight: 640;
    font-size:3.3rem;
    color: black;
}

#fHead > p > span{
    color: orange;
}

#sHead{
    /* font-weight: 260; */
    font-size:0.9rem;
}

.ES-border {
    font-weight: 640;
    background-color: white;
    padding: 2px auto;
    border-radius: 10px; 
    text-decoration: none; 
    display: inline-block;
}

#Inimg{
    width: 100%; 
    max-width: 100%;    
}



.cBackground{
    background-color: rgb(221 75 121);     
    padding:5rem;
}

.cBackground * {
    background-color: rgb(221 75 121); 
    color: white;
      
  }

  .ctaPad{    
    padding: 140px 0px 100px 50px; 

  }

  .ctaPad > button{
    background-color: rgb(102 75 221);
    border-radius: 13px;
  }

  .cta-section *{        
    background-color: transparent;

  }

  .rColor *{
    background-color: rgb(253 242 245);
    
  }

  .ybColor *{
    background-color: rgb(249 252 238) ;
  }
.pColor *{
    background-color: rgb(240 238 252);
}

.pImg img {
    width: 110px; 
    height: auto;
    object-fit: contain; 
}

.cImg{
    max-height: 2.2rem;
}

.quotes{
    color:rgb(255 168 1);
    font-size:4rem;
}



#footer #copyright a {  
    color: black;
  }
  
.pBtn{
    background-color: rgb(237 234 251);
    color: rgb(51 16 210);
    font-weight: 600 !important;
}

#tButton > input{
    height: 2rem; 
    width: 3rem; 
    background-color: rgb(194 221 75);
}

footer .btn {
    
    background-color:rgb(196 223 75);
    color: #111827;
    border-radius: 10px !important;   
    font-weight: 650 !important;
  }
  